html,
body {
  background-color: #e3dbd2;
  color: #553405;
  margin: 0;
  padding: 0;
  height: 100%;
}

.game_container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  height: 100vh;
  width: 100vw;
  box-sizing: border-box;
  padding: 20px;
}

@media (max-width: 650px) {
  .game_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

.section_two {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

canvas {
  border: 5px solid #553405;
  border-radius: 8px;
  background-color: rgb(255, 245, 236);
  margin: 20px 0;
}

.btns {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 auto;
  width: 100%;
}

button {
  background-color: rgb(255, 245, 236);
  border-radius: 8px;
  border-color: #6c4e23;
  font-family: "Pixelify Sans", sans-serif;
  margin: 10px;
  padding: 5px 20px;
  width: 100px;
  color: #553405;
}

button:not(:last-child) {
  margin-right: 10px;
}

.restart {
  margin-top: 20px;
}

.messages {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  width: 80%;
  max-width: 460px;
  margin: 10px 0px;
  justify-content: center;
  align-items: center;
}

.messages_p {
  text-align: center;
  font-family: "Pixelify Sans", sans-serif;
}

p {
  display: block;
  margin: 0;
  width: 100%;
}

@media (max-width: 440px) {
  button {
    margin-top: 10px 0px 0px 0px;
  }
  #up,
  #down {
    margin-left: 100%;
    margin-right: 100%;
  }
}
